<div class="page-selector">
    <div class="title-page">
        <h2>Список файлов пользователя</h2>
    </div>
    <div class="button-block">
        <button class="fisrt-variation-bar">
            <h1>Поиск</h1>
        </button>
        <input class="auth-input" type="text" placeholder="Поиск по названию файла" maxlength="100">
        <button [routerLink]="['/file-create']" class="second-variation-bar">
            <h1>Добавить новый файл</h1>
        </button>
    </div>
    <div class="object-location">
        <div class="object">
            <div class="element">
                <p>Идентификатор</p>
            </div>
            <div class="element">
                <p>Название файла</p>
            </div>
            <div class="element">
                <p>Удалить</p>
            </div>
            <div class="element">
                <p>Выбрать файл</p>
            </div>
            <div class="element">
                <p>Обновить</p>
            </div>
            <div class="element">
                <p>Скачать</p>
            </div>
        </div>
        <div class="object-list" *ngFor="let file of files">
            <div class="object">
                <div class="element">
                    <p>{{file.id}}</p>
                </div>
                <div class="element">
                    <p>{{file.name}}</p>
                </div>
                <div (click)="RemoveFile(file.id)" class="element">
                    <button class="table-button">
                        <h1>Удалить</h1>
                    </button>
                </div>
                <div (click)="UploadUpdateFile()" class="element">
                    <button class="table-button">
                        <h1>Выбрать</h1>
                        <h1>{{fileUpdate?.name}}</h1>
                    </button>
                </div>
                <div (click)="UpdateFile()" class="element">
                    <button class="table-button">
                        <h1>Обновить</h1>
                    </button>
                </div>
                <div (click)="DownloadFile(file.id, file.name)" class="element">
                    <button class="table-button">
                        <h1>Скачать</h1>
                    </button>
                </div>
            </div>
        </div>
        <input (change)="Download($event)" id="SelectImage" type="file">
    </div>
</div>
